* {
    margin: 0;
    padding: 0;
}

.lin {
    background: linear-gradient(rgba(0, 0, 255, 0.45), rgba(0, 0, 255, 0.45)), url(mine.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;


}

.class {
    display: flex;
    padding-left: 50px;
}

.pic {
    width: 50px;
    margin-top: -10px;
}

h2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}

.kin{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin: 0 50px 170px 0;
    margin-right: 100px;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.list {
    padding-left: 80px;
}

.content {
    width: 80%;
    margin: auto;
    text-align: center;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    width: 150px;
    border: none;
    border-radius: 20px;
    font-family: serif;
    height: 40px;
}
.content h1{
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: bold;
}